<div class="container">
   <div class="bloc1">
      <p class="title">Sign in </p>
      <div class="google">
         <a href=""> <p class="textinput" >Sign in with google</p></a>
          <img id="googleIcon"  src='../../../assets/Img/icons8-google.png' alt=""  />
      </div>
       <div class="line"></div>
     <form class="forms" >
      <input type="text" id="fname" name="fname" placeholder="name">
      <input  type="text" id="lname" name="lname" placeholder="password">
   </form>
   <div class="formbuttom">
     <div class="remember"> 
      <input type="checkbox" id="remember" name="scales" checked>
    <label  class="checkLabel"for="remember">Remember me </label>
    <button class="signin">Sign in </button>
  </div>
    <a id="frg">  Forget your password ?</a> 
    <a id="cra">Create an account </a>
  </div>
  </div>
   <div class="bloc2">
    <img id="img"src='../../../assets/Img/logo.png'alt="">
  </div>
  </div>

