<div class="container">
    <div class="bloc1">
<div class="videoscreen">
    <video class="video"controls>
        <source src="maVideo.mp4" type="video/mp4">
        <source src="maVideo.webm" type="video/webm">
        <p>Votre navigateur ne prend pas en charge les vidéos HTML5.
           Voici <a href="myVideo.mp4">un lien pour télécharger la vidéo</a>.</p>
      </video>
</div>
<div class="buttons">
    <button class="button"><img id="img" src='../../../assets/Img/stopvideo.png' alt=""></button>
    <button class="button"><img id="img"  src='../../../assets/Img/stopmicro.png' alt=""></button>
    <button class="button"><img  id="img" src='../../../assets/Img/share-this-2600.png' alt=""></button>
    <button class="button"><img  id="img"  src='../../../assets/Img/icons8-more-48.png' alt=""></button>
    <button class="endcall"><img id="end"  src='../../../assets/Img/icons8-end-call-50.png' alt=""></button>


</div>
</div>
<div class="bloc2">
    <div class="leftbar">
        <div class="exit">
        <p class="exit-title">Meeting Details</p>
        <img id="exit-button"src='../../../assets/Img/exitbutton.png' alt="">
    </div>
     <div class="copy">
        <img  src='../../../assets/Img/icons8-copy-50.png' alt="">
        <p>copy joining info </p>
    </div>
    <hr>
    <p>Google Calender attachments s.....</p>

    </div>
    <div class="buttons2">
        <button class="button"><img id="img" src='../../../assets/Img/icons8-info-64.png' alt=""></button>
        <button class="button"><img id="img" src='../../../assets/Img/icons8-multicultural-people-50.png' alt=""></button>
        <button class="button"><img id="img" src='../../../assets/Img/icons8-reddit-inbox-50.png' alt=""></button>
        <button class="button"><img id="img" src='../../../assets/Img/icons8-to-do-50.png' alt=""></button>
        <button class="button"><img id="img" src='../../../assets/Img/icons8-switch-host-50.png' alt=""></button>

    </div>
</div>
</div>
