<div class="container">
      <img id="img" src='../../../assets/Img/logo.png'alt="">
      <div class="title"> <a  class="join" routerLinkActive="active" routerLink="/join"> join room</a></div> 
      <div class="card">
  <div class="signup">
   <div class="signuptitle"> <a   routerLinkActive="active" routerLink="/signup">Sign Up</a></div> 
</div>
<div class="signin">
    <div class="signintitle" > <a   routerLinkActive="active" routerLink="/signin">Sign In</a></div> 
</div> 
</div>
</div>
<img id="img1" src='../../../assets/Img/téléchargé.jfif'alt="">

